.gamecard {
  background-color: #ffb74d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh 1vw;
  height: 30vh;
  border-radius: 5px;
  font-size: 2em;
  cursor: pointer;
}

.row .gamespace {
  padding: 0;
}

.cardNum {
  visibility: hidden;
}

.showCard {
  display: flex;
}
